<% if @user.IP.nil?  %>
<%= render "shared/firstlogin"%>
<% end %>
<div class="row">
  <div class="col-md-9">
    <div class="card border-info">
     
      <div class="card-body">
   
        <%= devise_error_messages! %>
        
<h2 class="card-title text-center">Edit your details</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="form-group">
          <%= f.label :name, required: true %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label  :field_name, "IP Adress" %>
          <em>(type ip off your signal board, required to correct work) </em>
          <%= f.text_field :IP, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email, required: true %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

         <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password, required: true %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, required: true %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :current_password, required: true %> <i>(we need your current password to confirm your changes)</i><br />
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-primary' %>
          </div>
         <% end %>
        </div>
      </div>
  </div>
  <div class="col-md-3">
    <div class="card border-danger">
      <div class="card-body">
        <h3>Cancel my account</h3>
        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %></p>

      </div>
    </div>
  </div>
</div>
