<div class="card border-info w-50 mx-auto bg-white">

  <div class="card-body">
<h2 class="card-title text-center">Sign up</h2>

    <br>
    <%= devise_error_messages! %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.label :name, required: true %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
        
    <div class="form-group">
      <%= f.label :email, required: true %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password, required: true %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, required: true %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
