<div class="card border-info w-50 mx-auto bg-light text-center">
	    	

	    	<div class="card-body">
	    		<h5 class="card-title text-dark"><%= @user.name %>, this is your account details</h5>
	    		<div class="card border-info bg-light">
	    		<div class="card-body">
	    		<p class="card-text">You have <%= @user.sensors.count %> sensors, on pins: </p>
	    		
	    		<% list = @user.sensors %> 
	    		
	    		<% list.each do |list| %>  

				<%= link_to list.nameduino, sensor_show_path(list.id), :class=>"badge badge-success" %> 

				<% end %><br>
				</div>
				</div>
				</br>
	    		<div class="card border-info bg-light ">
	    		<div class="card-body">
				<p class="card-text">You have <%= @user.locations.count - 1 %> locations: </p>

				<% list = @user.locations %> 
				<% list.each do |list| %> 
				<% if list.name != "none" %> 
				<%= link_to list.name, location_show_path(list.id), :class=>"badge badge-success" %> 
				<% end %>
				<% end %>
</div>
</div>
</br>
<div class="card border-info bg-light">

<div class="card-body">

	<div class="alert alert-success" role="alert">
 	<p class="card-text">Your account was create on <%= @user.created_at.strftime("%Y-%m-%d") %></p>
</div>

		

<div class="alert alert-success" role="alert">
  <p class="card-text">Last updated of your account details was on <%= @user.updated_at.strftime("%Y-%m-%d") %></p>
  </div>
</div>
</div>
	</div>
</div>
