<div class="jumbotron">
          <h1>Enter IP address of your board!</h1>
          <p class="lead">You need to open your singals to the world. Just connect your board with router and open port on it. 
		  If you want to quickly check how site works, you can use this address (fake Arduino signals):  https://inspectuino.herokuapp.com/about <br>
          You need to have specyfic arduino program for data output</p>
          <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p> -->
</div>