<% if current_user %>
  	  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <%= link_to "My Sensors", user_sensors_path %> <br>
      <%= link_to "My Account", user_account_path %> <br>
      <%= link_to "Edit My Account", edit_user_registration_path %>
      <%= link_to "Add Sensor", add_sensor_path %> <br>
	<% else %>
		<%= link_to "Login", new_user_session_path %>
		<%= link_to "Register", new_user_registration_path %>
<% end %>