<% if notice or alert %>  
    <div class="card text-dark bg-warning border-danger mb-3">
    	<div class="card-body">
		<p class="notice"><%= notice %></p> 
		<p class="alert"><%= alert %></p>
		</div>
	</div>
<% end %>  