 <!-- Jumbotron -->
<div class="jumbotron">
          <h1>Let's Inspect your signals!</h1>
          <p class="lead">For first add some location, where you put yours sensors. Like Kitchen, Bathroom and any other room, place etc. For next add some sensors, like light sensor, motion sensor and any other possible, it's all about you. </p>
          <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p> -->
</div>