<h1>Inspect your signals with that website</h1>
<p class="lead">Take your Arduino with some web shield and share outputs of your sensors. Download this <a class="link" href="https://bitbucket.org/marekows/inspectuino/src/master/ArduinoWebServer">Code</a> for your Arduino. Open port on your router for your Arduino. Then you can share output of your sensors to Inspectuino. Now you can managed of your outputs.
If you haven't Arduino and you only want to check how Inspectuino works, use link for this site (https://inspectuino.herokuapp.com/about). Check below, there are fake outputs, start manage them with Inspectuino.</p>

<h7>A0 324
A1 319
A2 327
A3 310
A4 291
A5 283
D0 1
D1 1
D2 0
D3 0
D4 0
D5 1
D6 0
D7 1
D8 0
D9 0 </h7>
