

    	<div class="col-md-8">
	<% $nr += 1 %>
	

	<% nm = list.nameduino %>
	<% index_nm = $data2.index(nm) %>
	<% $data2[index_nm + 1] %>  

          
            <%= list.name %>
			<% result = $data2[index_nm + 1] %>

			<% if result.to_i == 1 %>
			ON 
			<% else %>
			OFF 
			<% end %>
			
			<% $arrayAllSensors << list.nameduino  %> 
            
            

<%= link_to "details", sensor_show_path(list.friendly_id), :class=>"btn btn-primary", :role=>"button"%>

</div>