	
    <% $nr += 1 %>
	<% nm = list.nameduino %>
	<% if list.divisor.to_i == 0 %>
	<% divisor = 1 %>
	<% else %>
	<% divisor = list.divisor.to_i %>
	<% end %>

	<% if $data2.index(nm).nil? %>
   
	<tr class="table">
    <tr class="table-warning">
      <th scope="row"><%= list.name %></th>
      <td>Where</td>
		<th scope="row">Can't find sensor with nameduino <%= nm %> on your server.</th>
	<td><%= link_to "Edit", edit_sensor_path(list.friendly_id), :class=>"btn btn-info", :role=>"button"%></td>
    </tr>


	<% else %>

	<% index_nm = $data2.index(nm) %>
	
	<% $data2[index_nm + 1] %> 
	<% result = $data2[index_nm + 1] %>


	<tr class="table">

      <th scope="row"><%= list.name %></th>

      	<% a = Location.find (list.location_id) %> 
 		<td><%= a.name %> </td>

      <% if result.to_i == 1 %>
			<td><%= list.high %></td>
	  <% elsif result.to_i == 0 %>
			<td> <%= list.low %></td>
	  <% else %>
	  		<td><%= result.to_i/divisor %><%= list.unit %></td>
	  <% end %>
	<td><%= link_to "Show", sensor_show_path(list.friendly_id), :class=>"btn btn-info", :role=>"button"%></td>
    </tr>
   <% end %>