<table class="table table-striped table-bordered table-hover">
   <thead class="thead-light">
    <tr>
      <th scope="col">Sensor</th>
      <th scope="col">Location</th>
      <th scope="col">State</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
 <tbody>

<% $nr = 0 %>
<% $value = 1 %>
<% $arrayAllSensors = [] %> 

<%= render partial: 'list', collection: $list %>

</tbody>
</table>