
<div class="card border-info w-65 mx-auto bg-white">

	<div class="card-body">
			<h5 class="card-title text-dark text-center">Edit sensor</h5>

<% if @sensor.errors.any? %>
<h2>The following errors prevented the todo from being saved</h2>
<ul>
<% @sensor.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= simple_form_for @sensor do |f| %>

 	<div class="form-inputs">
 		<%= f.label :name %>
 		<%= f.text_field :name, class: 'form-control' %>
 	</div>
 	<br>
	<div class="form-inputs">
 		<%= f.label :nameduino, required: true %>
 		<em>(It's connection pin, like "A3" - analog Pin 3 or "D6" - digital Pin 6)</em>
 		<%= f.text_field :nameduino, class: 'form-control' %>
 	</div>
 	<br>
	<div class="form-inputs">
 		<%= f.label :description %>
 		<%= f.text_area :description, class: 'form-control' %>
 	</div>
	<br>
	<div class="form-inputs">
		 <%= f.label "Choose location of sensor" %>
 		 <%= f.select :location_id,  @user.locations.all.collect {|c| [ c.name, c.id ] }, class: 'form-control slct-box'%>
 	</div>

 	<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Representation of digital signal</h5>
	<div class="form-inputs">
	<%= f.label "When signal HIGH (logical 1), state:" %>
 <%= f.select :high,  options_for_select(["HIGH", "ON", "OFF", "OK", "DANGER", "OPEN", "CLOSED", "ONLINE", "OFFLINE"], @sensor.high), class: 'form-control slct-box'%>
 	</div>

	<div class="form-inputs">
	<%= f.label "When signal LOW (logical 0), state:" %>
 	<%= f.select :low,  options_for_select(["LOW", "ON", "OFF", "OK", "DANGER", "OPEN", "CLOSED", "ONLINE", "OFFLINE"], @sensor.low), class: 'form-control slct-box'%>
 	</div>
 	    </div>
    </div>
  </div>

    <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Representation of analog signal</h5>
	<div class="form-inputs">
 		<%= f.label :divisor, 'Devide analog signal by:' %>
 		<em>(type 10, to devide signal by 10)</em>
 		<%= f.text_field :divisor, class: 'form-control' %>
 	</div>
<br>
 	 	<div class="form-inputs">
	<%= f.label "Choose unit of analog signal" %>
 	<%= f.select :unit,  options_for_select(["", "°F", "°C"," inch", " cm", " m", " kg"," g"], @sensor.unit), class: 'form-control slct-box'%>
 	</div>
      </div>
    </div>
  </div>
</div>


 <div class="actions">
 		<%= f.submit "Save", class: 'btn btn-primary btn-block'%>
 	</div>
<% end %>
</div>
</div>