
<% index_nm = $data2.index(@sensor.nameduino) %>

<% result = $data2[index_nm + 1] %>
<% divisor = @sensor.divisor.to_i %>
<div class="card border-info w-50 mx-auto bg-light text-center">
	

	    	<div class="card-body">
	    		<h5 class="card-title text-dark">Sensors details</h5>	    	

<table class="table table-striped table-bordered table-hover table-fit">
 <tbody>
    <tr>
      <th scope="col">Name</th>
      <td scope="row"><%= @sensor.name %></td>
      </tr>
      <th scope="col">Connection Pin</th>
      <td scope="row"><%= @sensor.nameduino %></td>
      </tr>
      <th scope="col">Location</th>
      <td scope="row"><%= @sensor.location.name%></td>
    </tr>
   <th scope="col">Read Value</th>
   <td scope="row"><%= result = $data2[index_nm + 1] %></td>
    </tr>

<% if result.to_i > 1 %>
   

    <th scope="col">Divisor of analog signal</th>
   <td scope="row"><%= @sensor.divisor %></td>
    </tr>

    <th scope="col">Unit of measurement</th>
   <td scope="row"><%= @sensor.unit %></td>
    </tr>

   <th scope="col">Calculate Value</th>
   <td scope="row"><%= result.to_i/divisor %><%= @sensor.unit %> </td>
  </tr>

<% else %>


   <th scope="col">State when value "1" </th>
   <td scope="row"><%= @sensor.high %></td>
    </tr>
   <th scope="col">State when value "0" </th>
   <td scope="row"><%= @sensor.low %></td>
    </tr>

<% end %>

    <th scope="col">Created on </th>
 	<td scope="row"><%= @sensor.created_at.strftime("%Y-%m-%d")%></td>
 	</tr>

 	<th scope="col">Updated on </th>
 	<td scope="row"><%= @sensor.updated_at.strftime("%Y-%m-%d")%></td>
 	</tr>

 </tbody>
</table>
	<div class="card bg-light ">
	<div class="card-body">
      <h5 class="card-title text-dark">Description</h5>
      <p class="card-text"><%= @sensor.description %></p>
    </div>
    </div>

<%= link_to "Edit", edit_sensor_path(@sensor), :class => 'btn btn-primary btn-block' %>



