/* $body-bg: #c42d6c; 
$body-color: #7c2aba; */

@import "bootstrap";

body {
  padding-top: 20px;
  background-image: url(/assets/blue-motion-blur-design.jpg);
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: white;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: linear-gradient(to bottom, #f7f7f7 0%, #eee 100%);
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/*

Custom styles

.card-block {
  color: black;
  background-color: yellow;
} 
.form-group {
  background-color: green;
}

.form-control {
  background-color: blue;
}
*/

.card-block {
  text-align: left;
} 

.auth-links a  {
  color: black;
}

.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.table {
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}