
<div class="card border-info w-50 mx-auto bg-white">

	<div class="card-body">
			<h5 class="card-title text-dark text-center">Create new location</h5>


<% if @location.errors.any? %>
<h2>The following errors prevented the location from being saved</h2>
<ul>
<% @location.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= simple_form_for @location do |f| %>

 	<div class="form-inputs">
 		<%= f.label :name %>
 		<%= f.text_field :name, class: 'form-control' %>
 	</div>

	<div class="form-inputs">
 		<%= f.label :description %>
 		<%= f.text_field :description, class: 'form-control' %>
 	</div>
 	<br>
 	<div class="actions">
 		<%= f.submit "Create", class: 'btn btn-primary btn-block'%>
 	</div>
<% end %>
</div>
</div>
