dsadsa

<h1>location name = <%= @location.name %> </h1>  <br>
<h1>location desc = <%= @location.description %> </h1>  <br>
<%= link_to "edit", edit_location_path(@location) %>

<%= @location.name %> 
