    <div class="container">

      <header class="masthead">
        <h3 class="text-muted"><%= @page_title %></h3>

        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
               <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
               <%= restriction_helper 'nav-link' %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Account</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <%= login_helper 'dropdown-item' %>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>