<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

<%= render 'layouts/navigation' %>

<!-- <%= render "shared/nav"%> 
   <p class="notice"><%= notice %></p> 
  <p class="alert"><%= alert %></p>  -->




    <%= yield %>
</body>
 <!-- <footer class="footer text-center">
      <p>&copy; Copyright 2017 Marek Owsianowski</p>
  </footer> -->

  </body>
</html>
