<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= login_helper %>

  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>


    <%= yield %>

  </body>
</html>
